In [19]:
from google.colab import drive
drive.mount('/gdrive')
# mounts the drive

Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [21]:
os.listdir("/gdrive/My Drive/bitcoin-historical-data")

['coincheckJPY_1-min_data_2014-10-31_to_2018-06-27.csv',
 'coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv',
 'bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv',
 'bitflyerJPY_1-min_data_2017-07-04_to_2018-06-27.csv']

In [0]:
 df = pd.read_csv("/gdrive/My Drive/bitcoin-historical-data/coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv")

In [30]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0